.container.rounded-3 {
        height: 65vh;
        background-image: url('/static/img/pixel.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
