body{
        background-image: linear-gradient(180deg, #c4b6fd, #93acfc);
}

.blog-section {
        background-image: url('/static/img/daisy.jpg'); /* Replace 'path_to_your_image.jpg' with the actual path to your image */
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 100px 0; /* Adjust padding as needed */
}

