{% extends "base.html" %}

{% block content %}

<!-- Blog 4 - Bootstrap Brain Component -->

<section class="py-3 py-md-5 py-xl-8 " >

  
    <div class="container overflow-hidden">
        <h1 class="fs-5 mb-2 text-secondary text-uppercase">All Posts</h1>
        
        
          <article>
           

             <!-------------------------------------CARD ---------------------->
             {% for post in object_list %}

             
            <div class="card border-0 mb-3 shadow d-flex rounded-4">
              <div class="card-body border bg-white p-4 rounded-4">
                <div class="entry-header mb-3">
                  
                  <h2 class="card-title entry-title h4 mb-0">
                    <a class="link-dark text-decoration-none" href="{% url 'blogdetail' post.pk %}">{{post.title}}</a>
                  </h2>
                </div>
                <p class="card-text entry-summary text-secondary mb-3">
                    {{ post.body|slice:":200"|safe }}. . .
                </p>
                <a href="{% url 'blogdetail' post.pk %}" class="btn btn-primary mt-4 text-nowrap entry-more">Read More</a>
              </div>

            <!----CARD FOOTER --------->
                        <div class="card-footer border border-top-0 bg-light p-4 rounded-3">
                            <ul class="entry-meta list-unstyled d-flex align-items-center m-0">
                            <li>
                                <a class="fs-7 link-secondary text-decoration-none d-flex align-items-center" href="#!">
                                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-calendar3" viewBox="0 0 16 16">
                                    <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z" />
                                    <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                                </svg>
                                <span class="ms-2 fs-7">{{ post.post_date }}</span>
                                </a>
                            </li>
                            <li>
                                <span class="px-3">&bull;</span>
                            </li>
                            <li>
                                <span class="px-3">{{ post.author.first_name }} {{ post.author.last_name }}</span>
                            </li>
                            </ul>
                        </div>
                    </div>
              <!----CARD FOOTER --------->
              {% endfor %}

          </article>
    </div>
  </section>

{% endblock %}