{% extends "base.html" %}

{% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
        <br>
        <h1>Update Post</h1>
        <br><br>

        <div class="form-group">
            <form method='POST'>
                {% csrf_token %}
                {{ form.as_p }}
                <button class='btn btn-secondary'>Update</button>
        </div> 
    {% else %}
        You're not allowed to edit this post.
    {% endif %}
{% else %}
    You're not authorize to edit this post.
{% endif %}


{% endblock %}